.messages {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  scrollbar-width: none;
  flex-direction: column-reverse;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #888 #e0e0e0;
}
